<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gads!Bin</title>

    <meta name="description" content="smart system trash bin">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sweetalert.css">
    <link rel="stylesheet" href="/css/scripts.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div id="root"></div>
    <script src="/js/scripts.min.js"></script>
    <script src="/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyC5SEBoqHjawlB8Sy0W-fgcULgXfaHd3ao"></script>
    <script src="/static/bundle.js"></script>
    <script src="/js/common.js"></script>
  </body>
</html>